/*  common css  */
.ui-menubar{
	width:100%;
	text-align:center;
}

.ui-menubar .mbody{
	display:inline-block; zoom:1; *display:inline; vertical-align:middle;
}

.ui-menubar .menubutton{
	float:left;
}

/************* black theme （修改样式添加以下几个class）**********/
.ui-black-menubar{
	height:52px;
	font-family: Helvetica;
	border-top:1px solid #949494;			
	box-shadow:0 -1px 0 #080808;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#444444),color-stop(0.5, #222222), color-stop(1, #444444));
	background: -moz-linear-gradient(top,#444444,#222222,#444444);
	background: -o-linear-gradient(top,#444444,#222222,#444444);
}
.ui-black-menubar .menubutton{
	height:50px;
	//min-width:70px;
	padding-left:5px;
	padding-right:5px;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#444444),color-stop(0.5, #222222), color-stop(1, #444444));
	background: -moz-linear-gradient(top,#444444,#222222,#444444);
	background: -o-linear-gradient(top,#444444,#222222,#444444);
	cursor:pointer;
	color:#AAAAAA;
	font-weight:bold;
	font-size:12px;
}
.ui-black-menubar .selected{
	box-shadow:inset 0 0 1px 1px #000;
	background:#1F1F1F;
	color:#fff;
}
.ui-black-menubar .menubutton img{
	margin-top:2px;
	width:32px;
	height:32px;
}
.ui-black-menubar .menubutton .buttontitle{
	height:12px;
	line-height:12px;
}

